@media only screen and (max-width: 1116px) {
    #header-name {
        display: none;
    }
    #welcome-span h3{
       margin-top: 10vh;
    }
    nav ul {
        list-style: none;
        position: absolute;
        top: 11vh;
    }
    #first-nav-header-item {
        padding-left: 10px !important;
    }
    nav ul li {
        float: left;
        font-size: 3vh;
        margin: 1px 5px !important;
        color: black;
    }
   
    li a {
        color: black !important;
        text-decoration: underline !important;
    }
    li a:hover {
        font-style: italic;
    }
    .back-to-top {
        display: block !important;
        padding-left: 3vh;
        padding-top: 1vh;
        font-weight: bold;
    }
    .back-to-top a {
        color: blue;
    }
}
* {
    font-family: sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}
.back-to-top {
    display: none;
}
.shadowed-text {
    text-shadow: 2px 2px white;
}
body {
    width: 90%;
    margin: 0 auto;
    background-color: #c9c9c9;
}
header {
    background-color: black;
    height: 11vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
img {
    height: 11vh;
    width: 11vh;
    border-radius: 100px;
    float: left;
    margin: 5px 10px 5px 30px;
    border: 2px solid white;
    position: relative;
    top: 5vh;
}
header h2 {
    color: white;
    float: left;
    margin: 3vh 0 0 1vw;
    font-size: 5vh;
}
nav ul {
    list-style: none;
    
}
#first-nav-header-item {
    padding-left: 75px;
}
nav ul li {
    float: left;
    font-size: 3vh;
    margin: 1px 5px;
    padding-left: 30px;
    padding-top: 6vh;
    color: white;
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    font-style: italic;
}
main {
    clear: both;
    
    margin: 0 auto;
    width: 95%;
}
main h3 {
    font-size: 4vh;
    font-weight: bold;
    font-style: italic;
    padding-left: 10vw;
}
#visitor-name {
    font-size: 4vh;
    font-weight: bold;
    font-style: italic;
}
#about {
    margin-top: 4vh;
}
main h2 {
    font-size: 4vh;
    font-style: italic;
    font-weight: bold;
    padding-top: 1vh;
}
article p {
    font-weight: bold;
    padding: 2vh 0 0 3vh; 
}
nav ol {
    list-style: none;
    padding-left: 3vh;
}
nav ol  li {
    padding: 1vh 0;
}
nav ol  li a {
    color: blue;
    text-decoration: underline;
}
nav ol  li a:hover {
    font-weight: bold;
}